@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --White: hsl(0, 100%, 100%);
    --Purple-100: hsl(275, 100%, 97%);
    --Purple-600: hsl(292, 16%, 49%);
    --Purple-950: hsl(292, 42%, 14%);
    --Purple-hover : hsl(280.82deg 82.91% 54.12%);

    --fs-reg: 1rem;
    --fs-xl: 3.5rem;

    --fw-reg: 400;
    --fw-xl: 700;
}

@layer reset{
    *,
    *::after,
    *::before{
        box-sizing: border-box;
        margin: 0;
    }

    html{
        overflow-y: scroll;
    }

    h1,
    h3{
       margin: 0; 
    }

    img{
        display: block;
        max-width: 100%;
    }
}

@layer base{
    html{
        font-family: "Work Sans", sans-serif;        
    }

    body{
        font-weight: var(--fw-reg);
        font-size: var(--fs-reg);
        color: var(--Purple-950);
        background-color: var(--Purple-100);
    }

    .background-img{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 350px;
        background-image: url('./assets/images/background-pattern-desktop.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        overflow: hidden;
    }

    .container{
        background-color: var(--White);
        border-radius: 20px;
    }

    p{
        color: var(--Purple-600);
    }

    h3{
        font-weight: var(--fw-xl);
        font-size: var(--fs-reg);
    }

    h1{
        font-weight: var(--fw-xl);
        font-size: var(--fs-xl);
    }

    .faq-question:hover{
        color: var(--Purple-hover);
    }
}

@layer layout{

    .container{
        max-width: 600px;
        width: 90%;
        margin: 20vh auto 0 auto;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .title{
        display: flex;
        gap: 20px;
    }

    .title > img{
        order: -1;
    }

    .faq-question{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 25px 0px;
        gap: 10px;
    }

    .faq-card-parent{
        border-bottom: 1px solid var(--Purple-100);
    }

    .container :last-child{
        border-bottom: none;
        padding-bottom: 0px;
    }

    .container :last-child.faq-card-parent p, 
    .container :last-child.faq-card-parent .faq-question{
        padding-bottom: 0px;
    }

    .btn-deactivate{
        display: none;
    }

    
    .faq-answer{
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden; /* importante si queremos que no este accesible para los lectores de pantalla hasta que no se seleccione la pregunta */
        transition: max-height 0.2s ease, opacity 0.2s ease;
    } 

    .active{
        max-height: 150px;
        opacity: 1;
        visibility: visible;

    }

    .container :last-child.faq-card-parent .active{
        padding-top: 25px;
    }

    .active-btn{
        display: block;
    }

    

    .faq-answer.active{
        padding-bottom: 25px;
    }


}